---
layout: default
---
<main class="container-fluid">
<section class="row">
<div class="col-sm-8 bg-lightgrey medium-row">
  <div class="text-vertical-center">
    <div>
      <h2>Who we are</h2> 
      <p>
      We are The Smiths, the #1 supplier of Titanium Developers in the world. Have a
      look at our work and get inspired. We know how to fully leverage the power of
      Appcelerator Titanium. Where others stop we move forward. 

      <br/> <br/>

      Molding a great app with Appcelerator Titanium can be highly cost effective in
      bulding and maintenance. But only when the right craftsmen are at play. We are those
      craftsmen.
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 hidden-xs medium-row img-wrapper">
  <img src="/media/coding.png" alt="Coding Session" />
</div>
</section>

<section class="row">
<div class="col-md-4 medium-row">
  <div class="text-vertical-center">
    <div>
      <h2>What we do</h2>
      <p>
      We specialize in Appcelerator Titanium development. We help with getting your project started or get it back on track. We also develop native modules to make full use of the native API and available native components. We also provide consultancy services for work flow setup to optimize your development process with Appcelerator Titanium.

      Alingned with Appcelerator Titanium we promote open source. We develop open source components to be used freely and encourage our customers to do the same. 
      </p>       
    </div>
  </div>
</div>

<div class="col-md-8 medium-row img-wrapper">
  <img src="/media/ui.jpg" alt"User Interface"/>
</div>
</section>

<section class="row">
<div class="col-md-4 medium-row bg-bluegrey">
  <div class="text-vertical-center">
    <div>
      <h2>Our Clients</h2>
      <p>
      A selection of the work we did.
      </p>                 
    </div>
  </div>
</div>

<div class="col-md-8 medium-row bg-bluegrey">
  <div class="text-vertical-center">
    <div class="text-center">
      <a class="client" href="http://www.kopenverkopen.nl">
        <img src="/media/app1.png" alt="KopenVerkopen" />
      </a>

      <a class="client" href="http://www.penton.com">
        <img src="/media/app3.png" alt="Penton" />
      </a>
      <!--a href="http://www.skoften.net"><div id="img-four"></div></a-->
    </div>
  </div>
</div>
</section>

<section class="row">
<div class="col-md-12 small-row">
  <h3>OUR THOUGHTS</h3>
    <!--p>
      We share the lessons we have learned, open source code we have published and work we have done.
    </p-->       
</div>
<div class="col-md-12 articles text-center" id="articles">
  {% for post in site.posts limit: 3 %}
  <article class="article-excerpt"> 
  <span class="text-meta">
    {% if post.author %} {{ post.author }} - {% endif %}
    {{ post.date | date_to_string  }}
  </span>
  <h4>{{ post.title }}</h4>
  {% if post.cover %} 
  <div class="img-wrapper">
    <a href="{{ post.url }}"> 
      <img src="{{post.cover}}" alt="{{post.title}}" /> 
    </a>
  </div>
  {% endif %}
  {{ post.excerpt }}
  <a class="more" href="{{ post.url }}">Read more</a>
  </article>
  {% endfor %}
</div>
</section>
</main> 
