---
layout: default
---
<main class="container-fluid">
<section class="row">
<div class="col-sm-8 bg-lightgrey medium-row">
  <div class="text-vertical-center">
    <div>
      <h2>Who we are?</h2> 
      <p>
      We are The Smiths, the #1 supplier of Titanium Developers in the world. Have a
      look at our work and get inspired. We know how to fully leverage the power of
      Appcelerator Titanium. Where others stop we move forward. 

      <br/> <br/>

      Molding a great app with Appcelerator Titanium can be highly cost effective in
      bulding and maintenance. But only when the right craftsmen are at play. We are those
      craftsmen.
      </p>
    </div>
  </div>
</div>

<div class="col-sm-4 hidden-xs medium-row img-wrapper">
  <img src="/media/coding.png" alt="Coding Session" />
</div>
</section>

<section class="row">
<div class="col-md-4 medium-row">
  <div class="text-vertical-center">
    <div>
      <h2>What we do</h2>
      <p>
      We build the apps you want to make, but don't know how. Beautiful,
      well-structured, long-lasting mobile apps which will blow your mind. We have the
      best Titanium developers around.
      </p>       
    </div>
  </div>
</div>

<div class="col-md-8 medium-row img-wrapper">
  <img src="/media/ui.jpg" alt"User Interface"/>
</div>
</section>

<section class="row">
<div class="col-md-4 medium-row bg-bluegrey">
  <div class="text-vertical-center">
    <div>
      <h2>Our Clients</h2>
      <p>
      A few of our customers who we made happy with our work. 
      </p>                 
    </div>
  </div>
</div>

<div class="col-md-8 medium-row bg-bluegrey">
  <div class="text-vertical-center">
    <div class="text-center">
      <a class="client" href="http://www.kopenverkopen.nl">
        <img src="/media/app1.png" alt="KopenVerkopen" />
      </a>

      <a class="client" href="http://www.penton.com">
        <img src="/media/app2.png" alt="Penton" />
      </a>
      <!--a href="http://www.skoften.net"><div id="img-four"></div></a-->
    </div>
  </div>
</div>
</section>

<section class="row">
<div class="col-md-12 small-row">
  <h3>What we do and what we think</h3>
</div>
<div class="col-md-12 articles text-center">
  {% for post in site.posts limit: 6 %}
  <article class="article-excerpt"> 
  <span class="text-meta">
    {% if post.author %} {{ post.author }} - {% endif %}
    {{ post.date | date_to_string  }}
  </span>
  <h4>{{ post.title }}</h4>
  {% if post.cover %} 
  <div class="img-wrapper">
    <a href="{{ post.url }}"> 
      <img src="{{post.cover}}" alt="{{post.title}}" /> 
    </a>
  </div>
  {% endif %}
  {{ post.excerpt }}
  <a class="more" href="{{ post.url }}">Read more</a>
  </article>
  {% endfor %}
</div>
</section>
</main> 
