<footer class="container-fluid">
<div class="row">
  <div class="col-md-6">
      <h2>Information</h2>
      <p>The Smiths<br/>Herengracht 182, Amsterdam<br/>The Netherlands<br/><a
        href="mailto:wienke@wearesmiths.com">wienke@wearesmiths.com</a></p>
  </div>

  <div class="col-md-6">
      <h2>Contact</h2>
      <form id="contact">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="E-mail">
        <textarea rows="4" cols="50" name="comment" placeholder="Write your message here."></textarea>
        <div id="contact-message"></div>
        <input type="submit" value="Send" id="send">
      </form>
    </div>
  </div>
</div>
</footer>
