<!-- First row -->
<div class="row">
    <div class="col-md-12">
        <div class="content-container" id="img-one">  <div class="logogroot"></div>
        </div>
    </div>
</div>

<!-- Second row -->
<div class="row">
    <div class="col-md-10">
        <div class="content-container">
            <div id="content-container-one">
                <p><span>we craft apps</span></p>
            </div>      
        </div>
    </div>
    <div class="col-md-2">
        <div class="content-container">
            <div id="img-two">
            
            </div>
        </div>
    </div>
</div>
