<head>
    <title>The Smiths</title>
    <meta charset="utf-8">
    <meta name="author" content="Wessel Versluis">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/styles/bootstrap.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">

    <script src="https://www.parse.com/downloads/javascript/parse-1.4.2.min.js"></script>
    <script src="/scripts/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap.js" type="text/javascript"></script>

    <script src="/scripts/script.js" type="text/javascript"></script>
    <script src="/scripts/email.js"></script>

</head>
