/* -------- HEADER -------- */
header
    text-align:         center
    width:              100%

header.default
    background:         url(/media/teamWorking.jpg) no-repeat center center
    background-size:    cover
    height:             100vh
    line-height:        100vh
    opacity:            0.8

    a.logo > img
        display:        inline-block
        height:         80vh
        width:          50%

header.post a.logo > img
    height:             $dim-smallRow
    padding:            0.25em
