<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header_post.html %}
    <article class="article-full">
    {% if page.cover %}
    <div class="cover img-wrapper">
        <img src="{{page.cover}}" alt="{{page.title}}" />
    </div>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="meta">
      {{ page.date | date_to_string }}
      {% if page.author %} - {{ page.author }} {% endif %}
    </div>
    <div class="back">
      <a href="{{ site.url }}#articles">
        <span class="glyphicon glyphicon-chevron-left"></span>home
      </a>
    </div>
    {{ content }}
    </article>
    {% include footer.html %}
  </body>
</html>
