---
---

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600)

$darkblue:          #414E59
$bluegrey:          #646C74
$transpwhite:       rgba(255,255,255,0.5)
$lightgrey:         #E3E3E3
$black:             #404040
$white:             #FFFFFF
$red:               #B31217

$title-family:      Montserrat, Arial, sans-serif
$content-family:    'Open Sans', Helvetica, Arial, sans-serif    

$dim-smallRow:      10em
$dim-mediumRow:     25em

@import reset
@import header
@import general
@import article
@import footer
@import helpers
